openapi: 3.0.1
info:
  title: Mobi Agent Trip Planner Plugin
  description: Plugin for planning an travel itinerary. You can set the origin origin, trip destination, dates, travelers, as well as preferences on stay, dining, experiences and flights..
  version: 'v1'
servers:
  - url: https://proxy.takemobi.io
paths:
  /mobility-planner/demo/v2/problem/chatgpt:
    post:
      operationId: createItinerary
      summary: Create a travel itinerary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itineraryRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/itineraryResponse'
components:
  schemas:
    itineraryRequest:
      type: object
      properties:
        trip_start_datetime:
          type: string
          format: date-time
          description: The start date time of the trip, following the date-time notation as defined by RFC 3339, section 5.6. For example, 2017-07-21T17:32:28Z.
        trip_end_datetime:
          type: string
          format: date-time
          description: The end date time of the trip, following the date-time notation as defined by RFC 3339, section 5.6. For example, 2017-08-21T17:32:28Z.
        origin:
          $ref: '#/components/schemas/location'
          description: The origin of the trip.
        destination:
          $ref: '#/components/schemas/location'
          description: The destination of the trip.
        traveler_information:
          $ref: '#/components/schemas/travelerInformation'
          description: Information on the number of travelers of different types in this trip.
      required:
        - trip_start_datetime
        - trip_end_datetime
        - origin
        - destination
    itineraryResponse:
      type: object
      properties:
        solution:
          $ref: '#/components/schemas/itinerarySolution'
          description: The detailed solution object to the itinerary request.
    itinerarySolution:
      type: object
      properties:
        activities:
          type: array
          items:
            $ref: '#/components/schemas/itineraryActivity'
          description: The planned activities in the itinerary solution.
      required:
        - activities
    itineraryActivity:
      type: object
      properties:
        name:
          type: string
          description: The name of the activity.
        scheduled_start_time:
          type: integer
          format: int64
          description: The scheduled start time of the activity in UNIX timestamp.
        scheduled_end_time:
          type: integer
          format: int64
          description: The scheduled end time of the activity in UNIX timestamp.
      required:
        - name
        - scheduled_start_time
        - scheduled_end_time
    travelerInformation:
      type: object
      properties:
        adults:
          type: integer
          minimum: 1
          maximum: 9
          description: The number of adults (age 18 or higher) in the trip.
        children:
          type: integer
          minimum: 1
          maximum: 9
          description: The number of children (age 2 to 17) in the trip.
        infants:
          type: integer
          minimum: 1
          maximum: 4
          description: The number of infants (age 0 to 2) in the trip.
      required:
        - adults
    location:
      type: object
      properties:
        name:
          type: string
          description: The name of the location.
        lat:
          type: number
          minimum: -90
          maximum: 90
          description: The latitude of the location.
        lng:
          type: number
          minimum: -180
          maximum: 180
          description: The longitude of the location.
      required:
        - name
        - lat
        - lng